.tell-us-container{
  background-image: url(../assets/images/bakery-process-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 90vw;
  height: 70vh;
  margin: 5vh auto;
}

.tell-us-container div h1{
  padding: 100px;
  color: white;
  font-size: 4rem;
  font-weight: bolder;
  max-width: 900px;
}

.tell-us-container div h2{
  padding: 100px;
  color: white;
  font-size: 7rem;
  max-width: 900px;
  font-weight: 100;
}

.tell-us-text{
  width: 30vw;
  margin-left: 65%;
  margin-top: 80px;
}

p, h1, h2, h3, h4{
  color: white;
}

h3{
  text-transform: uppercase;
  font-size: 0.8rem;
}

p{
  font-size: 1.2rem;
}

.we-start-container{
  width: 90vw;
  height: 70vh;
  margin: 0 auto;
}

.we-start-image{
  background-image: url(../assets/images/bakery-process-2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 45vw;
  height: 100%;
}

.we-start-text{
  width: 45vw;
  height: 100%;
}

.we-start-image h1{
  padding: 50px;
  font-size: 4rem;
}

.we-start-image h2{
  padding-top: 20px;
  margin-left: 80px;
  font-size: 7rem;
  font-weight: 100;
}

.we-start-image-text{
  width: 400px;
  margin-left: 80px;
  margin-top: 250px;
}

.we-start-text div{
  width: 70%;
  height: 70%;
  margin: 100px auto;
}

.we-start-text h5{
  color: rgb(85, 50, 139);
  font-size: 2.75rem;
}

.we-start-text h6{
  font-weight: 300;
}

.delivered-container{
  background-image: url(../assets/images/bakery-process-3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 90vw;
  height: 70vh;
  margin: 7vh auto;
}

.delivered-title{
  width: 85%;
  height: 20%;
  margin: 0 auto;
}

.delivered-text{
  width: 30%;
  height: 30%;
  margin-top: 15%;
  margin-left: 120px;
}

.delivered-title h1{
  font-size: 4rem;
  padding-top: 50px;
}

.delivered-title h2{
  font-size: 7rem;
  font-weight: 100;
  padding-top: 20px;
}

.location-container{
  width: 90vw;
  min-height: 50vh;
  margin: 20vh auto;
}

.location-title{
  width: 20%;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}

.location-title h6{
  text-transform: uppercase;
  color: rgb(85, 50, 139);
  font-weight: 100;
  font-size: 0.75rem;
}

.location-title h1{
  color: rgb(85, 50, 139);
}

.location-image-container{
  width: 100%;
  min-height: 800px;
}

.image-container-1{
  width: calc(100% / 2);
  height: 500px;
}

.image-container-2{
  width: calc(100% / 2);
  height: 500px;
}

.location-image-container img{
  width: 100%;
}

.newyork-container{
  width: 100%;
  height: 200px;
}

.london-container{
  width: 100%;
  height: 200px;
}

.newyork-container h1{
  color: rgb(85, 50, 139);
  text-align: center;
  padding-top: 20px;
}

.london-container h1{
  color: rgb(85, 50, 139);
  text-align: center;
  padding-top: 20px;
}

.time-container{
  width: 90%;
  height: 100px;
  margin: 0 auto;
}

.time-container div{
  width: calc(100% / 3);
  height: 50px;
  margin-top: 20px;
}

.time-container h6{
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.time-container h5{
  color: rgb(85, 50, 139);
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
}